{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmmaker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% load django_browser_reload %}

    <header>
        <h1 class="title">
            Filmmaker
            <img src="{% static 'assets/pipocaLogo.png' %}" alt="balde de pipoca">
        </h1>
        <div class="connect">
            <span class="login">Entrar</span>
            <span class="register">Cadastre-se</span>
        </div>
    </header>

    <section class="rectangle_intro_text"> 
        <p class="introductoryText">
            Com o Filmmaker, encontrar o que assistir nunca foi tão fácil! Receba recomendações personalizadas
            de filmes e séries sem perder horas navegando pelos catálogos. Além disso, marque os títulos que já 
            assistiu e avalie suas experiências para tornar suas escolhas ainda melhores!
        </p>
    </section>

    <section class="container">
        <div class="genres">
            <div class="title_genres">
                <h2>Gêneros</h2>
            </div>
            <div class="genres-list">
                <button>Ação</button>
                <button>Aventura</button>
                <button>Comédia</button>
                <button>Drama</button>
                <button>Terror</button>
                <button>Suspense</button>
                <button>Sci-Fi</button>
                <button>Fantasia</button>
                <button>Romance</button>
                <button>Musical</button>
            </div>
        </div>

        <div class="vertical-line"></div>  

        <div class="specifications">
            <div class="title_specifications">
                <p>Especificações</p>
            </div>
            <div class="release_year">
                <p class="tittle_release">Ano de lançamento</p>
                <hr class="line">
            </div>
            <div class="release_year_select">
                <div class="release_year_initial_select" >
                    <select class="year_initial">
                        <option value="#" disabled selected>De</option>
                        {% for year in year_range %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <img class="indication_arrow" src="{% static 'assets/icons8-flecha-50.png' %}" alt="seta entre os anos de lançamento">
                    <select class="year_end">
                        <option value="#" disabled selected>Até</option>
                        {% for year in year_range %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>
            <div class="language_select">
                <div class="language_selecting">
                    <p class="language_movie">Disponível em qual país</p>
                    <hr class="line">
                </div>
                <div class="language_select_movie">
                    <select class="movie_language_selecting">
                        <option value="#" selected>Qualquer</option>
                        <option value="za">África do Sul</option>
                        <option value="de">Alemanha</option>
                        <option value="sa">Arábia Saudita</option>
                        <option value="ar">Argentina</option>
                        <option value="au">Austrália</option>
                        <option value="at">Áustria</option>
                        <option value="be">Bélgica</option>
                        <option value="bg">Bulgária</option>
                        <option value="br">Brasil</option>
                        <option value="ca">Canadá</option>
                        <option value="cl">Chile</option>
                        <option value="co">Colômbia</option>
                        <option value="cy">Chipre</option>
                        <option value="cz">República Tcheca</option>
                        <option value="dk">Dinamarca</option>
                        <option value="ec">Equador</option>
                        <option value="ae">Emirados Árabes</option>
                        <option value="es">Espanha</option>
                        <option value="ee">Estônia</option>
                        <option value="fi">Finlândia</option>
                        <option value="fr">França</option>
                        <option value="gb">Reino Unido</option>
                        <option value="gr">Grécia</option>
                        <option value="hk">Hong Kong</option>
                        <option value="hu">Hungria</option>
                        <option value="id">Indonésia</option>
                        <option value="ie">Irlanda</option>
                        <option value="is">Islândia</option>
                        <option value="il">Israel</option>
                        <option value="it">Itália</option>
                        <option value="jp">Japão</option>
                        <option value="lt">Lituânia</option>
                        <option value="my">Malásia</option>
                        <option value="md">Moldávia</option>
                        <option value="mk">Macedônia do Norte</option>
                        <option value="mx">México</option>
                        <option value="nl">Países Baixos</option>
                        <option value="nz">Nova Zelândia</option>
                        <option value="no">Noruega</option>
                        <option value="pa">Panamá</option>
                        <option value="pe">Peru</option>
                        <option value="ph">Filipinas</option>
                        <option value="pl">Polônia</option>
                        <option value="pt">Portugal</option>
                        <option value="ru">Rússia</option>
                        <option value="ro">Romênia</option>
                        <option value="rs">Sérvia</option>
                        <option value="sg">Singapura</option>
                        <option value="sk">Eslováquia</option>
                        <option value="si">Eslovênia</option>
                        <option value="se">Suécia</option>
                        <option value="ch">Suíça</option>
                        <option value="kr">Coreia do Sul</option>
                        <option value="th">Tailândia</option>
                        <option value="tr">Turquia</option>
                        <option value="ua">Ucrânia</option>
                        <option value="us">Estados Unidos</option>
                        <option value="vn">Vietnã</option>
                        <option value="hr">Croácia</option>
                        <option value="in">Índia</option>
                        <option value="az">Azerbaijão</option>
                    </select>
                </div>                
            </div>
            <div class="film_duration_select">
                <div class="duration_selecting">
                    <p class="duration_movie">Duração</p>
                    <hr class="line">
                </div>
                <div class="duration_select_movie"> 
                    <select class="duration_language_selecting">
                        <option value="#" selected>Qualquer</option>
                        <option value="100">Até 100 minutos</option>
                        <option value="100-150">100 a 150 minutos</option>
                        <option value="150+">Mais de 150 minutos</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="select_films_or_series">
            <div class="background_films_or_series">
                <div class="films_or_series">
                    <button>Filmes</button>
                    <button>Séries</button>
                </div>  
            </div>  

            <div class="reviews_duration_select">
                <div class="reviews_selecting">
                    <p class="reviews_movie">Avaliações</p>
                    <hr class="line">
                </div>
                <div class="reviews_select_movie" >
                    <select class="reviews_language_selecting">
                        <option value="#" disabled selected>Qualquer</option>
                    </select>
                </div>
            </div>

            <div class="age_range_select">
                <div class="age_range_selecting">
                    <p class="age_range_movie">Faixa etária</p>
                    <hr class="line">
                </div>
                <div class="age_range_select_movie" >
                    <select class="age_selecting">
                        <option value="#" disabled selected>Qualquer</option>
                        <option value="#" disabled selected>Infantis</option>
                        <option value="#" disabled selected>Para adolescentes</option>
                        <option value="#" disabled selected>Adultos 18+</option>
                    </select>
                </div>
            </div>

            <div class="select_streaming">
                <label for="streaming">
                <input type="checkbox" class="streaming" name="streaming_available">
                <img class="img_netflix" src="{% static 'assets/streaming/icons8-netflix-480.png' %}" alt="Netflix">
                <input type="checkbox" class="streaming" name="streaming_available">
                <img class="img_max" src="{% static 'assets/streaming/icons8-hbo-max-480.png' %}" alt="Max">
                <input type="checkbox" class="streaming" name="streaming_available">
                <img class="img_disney" src="{% static 'assets/streaming/icons8-disney-480.png' %}" alt="Disney">
                <input type="checkbox" class="streaming" name="streaming_available">
                <img class="img_prime" src="{% static 'assets/streaming/icons8-amazon-prime-video-480.png' %}" alt="Prime video">
                <input type="checkbox" class="streaming" name="streaming_available">
                <img class="img_appletv" src="{% static 'assets/streaming/icons8-apple-tv-480.png' %}" alt="Apple Tv">
                </label>
            </div>
        </div>

        <div class="popcorn_image">
            <img class="falling_popcorn_image_1" src="{% static 'assets/icons8-popcorn-100.png' %}" alt="pipoca caindo">
            <img class="falling_popcorn_image_2" src="{% static 'assets/icons8-popcorn-100.png' %}" alt="pipoca caindo">
            <img class="falling_popcorn_image_1" src="{% static 'assets/icons8-popcorn-100.png' %}" alt="pipoca caindo">
        
    </section>

    <div class="movie_search"> 
        <p class="searching_movies">Buscar por um filme ou série</p>
        <hr class="line">
        <input type="text" class="movie_search_engine_by_typing" placeholder="Digite o título">
        <div><button>Buscar</button></div>
    </div>

    <script src="{% static 'assets/scripts.js' %}"></script>

    {% django_browser_reload_script %}
</body>
</html>
